body {
    margin: 0;
    padding: 0;
    background: linear-gradient(#8E2DE2, #4A00E0);
}


/* Classes */

.details {
    margin: auto;
    padding: 20px;
    width: 300px;
    height: 350px;
    border-radius: 15px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    color: white;
}

.arrow {
    margin-left: -20px;
    margin-top: -30px;
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.west {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.north-west {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}

.south-east {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

.east {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.north {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.south {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.north-east {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}


/* IDs */

#my-list {
    margin: auto;
    margin-top: 150px;
    width: max-content;
    font-family: sans-serif;
    color: white;
}

#my-list li {
    list-style-type: none;
    float: left;
    padding: 5px;
    margin-left: 50px;
    margin-top: 30px;
    cursor: pointer;
    border: 1px solid #8E2DE2;
    border-radius: 5px;
}

#my-list li span {
    margin-left: 10px;
}